header{
    width: 100vw;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    background-color: var(--color-primary);
}

.stroke-paw{
    stroke: white;
}

.paw{

    width: 55px;

}

.input-search-breed{
    border: 0px;
    min-width: auto;
    margin-left: auto;
    border-radius: 30px;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--color-secondary);
}


.input-search-breed::placeholder{
    color: white;
    padding: 20px;
    box-sizing: border-box;
}