*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contenedor-principal{
    margin: 0px;
    padding: 0px;
    display: flex;
    /*max-height: 100vh;
    overflow-y: hidden;*/
    position: relative;
    overflow-y: hidden;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}

.slice{
    width: 100%;
    height: 100vh;
    position: relative;
}

.slice-1{
    width: 100%;
    display: flex;
    align-items: center;
    background: purple;
    justify-content: center;
}

.slice-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

.contenedor-polaroid{
    height: 60%;
    padding: 5px;
    display: flex;
    box-shadow: 5px;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
}

.imagen-credenciales{
    width: auto;
    height: 85%;
    display: flex;
    border-radius: 5px;
}

.contenedor-countdown{
    height: 15%;
    text-align: center; 
    align-content: center;
    box-sizing: border-box;
}

.iniciar-sesion{
    width: 50%;
    border: 0px;
    padding: 10px;
    color: white;
    box-shadow: none;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 5px 0px;
    background-color: purple;
}

.iniciar-sesion:hover{
    cursor: pointer;
}

.riddle{
    width: 25%;
    margin: auto;
    height: 180px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    background-color: white;
    animation: riddle-animation .3s;
    box-shadow: 5px 5px #00000017;
}

.inactive-container{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background-color: #000000a3;
}

@keyframes riddle-animation{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media only screen and (max-width: 1080px) {
    .slice{
        flex-direction: column;
    }

    .riddle{
        width: 70%;
    }
}