.contenedor-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: purple;
    align-items: center;
    justify-content: center;
}

.contenedor-polaroid{
    height: 60%; 
    width: auto;
    display: flex;
    padding: 10px;
    box-shadow: 5px;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white; 
}

.imagen-credenciales{
    height: 80%;
    display: flex;
    border-radius: 5px;
}

.contenedor-countdown{
    padding: 10px;
    box-sizing: border-box;
}

.iniciar-sesion{
    width: 50%;
}