<div>
    <div class="contenedor-principal">
        <div *ngIf="showRiddle" class="slice slice-1">
            <div class="contenedor-polaroid">
                <img class="imagen-credenciales" src="assets/imagen_login.jpg" alt="">
                <div  class="contenedor-countdown">           
                    <span>{{ days }} Dias {{ hours }} Horas {{ minutes }} Minutos {{ seconds }} Segundos</span>
                    <button (click)="showRiddleFunction()" class="iniciar-sesion">Empecemos</button>
                </div>
            </div>
        </div>
        <div *ngIf="!showRiddle" class="slice slice-2">
            <div class="riddle riddle-1">
                En el mapa me hallarás sin error,si me tienes, soy sabor.Cuídame bien en la mesa, o seré un dolor de cabeza.
            </div>
            <div class="riddle riddle-2">
                <div>Cesar : ROT 2</div>
                <div>Rqtswg gtgu ñk vqfq swg uwtikó fg nc ocfc. Vg cñq ñwejq</div>
            </div>
            <div class="riddle riddle-3">
                Proximamente
                <div class="inactive-container"></div>
            </div>
        </div>
    </div>
</div>