.contenedor-carga{

    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);

}

.icono-carga{
    color: #fff;
}

#texto-login{

    color: white;

}